<div class="container-fluid">

  <div class="row">

    <div class="input-group">
      <input [(ngModel)]="removeChars" placeholder="Chars to remove like ',+" class="input-group-text">
      <button (click)="appendPlus()" class="btn btn-success">+</button>
      <button (click)="appendQuotation()" class="btn btn-success">"</button>
      <button (click)="appendSingleQuotation()" class="btn btn-success">'</button>
      <button (click)="appendSingleComma()" class="btn btn-success">,</button>
      <button (click)="appendQuotation()" class="btn btn-success">-</button>
    </div>
    <div class="col-5">


      <textarea class="textarea-size" [(ngModel)]="rawText"></textarea>
    </div>


    <div class="col-1 align-self-center">
      <div class="btn-group-vertical m-2">
        <button (click)="removeIntruderChars()" class="btn btn-success mb-1">Trim Text</button>
        <button (click)="formatJson()" class="btn btn-success mb-1">Format Sql</button>
      </div>
    </div>

    <div class="col-5">
      <h5>result</h5>
      <textarea class="textarea-size" [(ngModel)]="formattedText"> </textarea>
    </div>

  </div>
</div>
