<div class="container-fluid">


  <div class="input-group text-center">
    <label class="text-success m-1">Type Chars To Remove:</label>
    <input [(ngModel)]="removeChars" placeholder="Chars to remove like ',+" class="input-group-text">
    <button (click)="appendPlus()" class="btn btn-success">+</button>
    <button (click)="appendQuotation()" class="btn btn-success">"</button>
    <button (click)="appendSingleQuotation()" class="btn btn-success">'</button>
    <button (click)="appendSingleComma()" class="btn btn-success">,</button>
    <button (click)="appendQuotation()" class="btn btn-success">-</button>
  </div>


  <app-generic-textarea [sharedTextArea]="sharedTextArea" (childActionEmitter)="removeIntruderChars()"
                        (secondaryChildActionEmitter)="formatSql()">
  </app-generic-textarea>

</div>
