<!-- <string-formatter></string-formatter> -->
<!-- <database-formatter></database-formatter> -->

<!-- <string-enum></string-enum> -->

<div class="card">
  <div class="card-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <a class="navbar-brand" routerLink="/string" routerLinkActive="active"> String Utils </a>
      <a class="navbar-brand" routerLink="/database" routerLinkActive="active"> Database Utils </a>
    </nav>
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
  </div>
</div>
