<div class="container-fluid">

  <h1 class="text-center">{{title}}</h1>

  <div class="row">

    <div class="col-5 m-2">
      <h3>raw text</h3>
      <textarea class="textarea-size" [(ngModel)]="rawText"></textarea>
    </div>

    <div class="col-1 align-self-center">
      <button (click)="formatJson()" class="btn btn-success btn-md mb-1">Format Json</button>
      <button (click)="formatJsonDetails()" class="btn btn-success btn-md mb-1">Format Detail</button>
      <button (click)="toggleOpen()" class="btn btn-secondary btn-md mb-1">Toggle</button>
      <button (click)="expandAll()" class="btn btn-secondary btn-md mb-1 ">Expand All</button>
      <button (click)="collapseAll()" class="btn btn-secondary btn-md mb-1 ">Collapse All</button>

    </div>

    <div class="col-5 m-2" id="jsonFormatterParent">
      <h3>Result</h3>
    </div>

  </div>
</div>
